{% extends 'base.html' %}
{% block content %}
 
<h2>All Active products</h2>
  <div page-header>
    <h4 class="page-header">Manage products </h4>
</div>

  {% if products|length == 0 %}

{% else %}

<div class="field">
  <a href='/product_form'><button class="btn btn-primary" type="button">Create New product</button></a>
</div>

{% endif %}

{% if products|length == 0 %}

{% else %}

{{ super() }}

<div class="tab_1">
    <table class="muffin table-striped table-hover margin-bottom0">
        <thead class="data-list-header">
        <td class="col due">product_id  </td>
        <td class="col ref">product Name</td>
        <td class="col ref">product Number</td>
        <td class="col name">description</td>
        <td class="col total">price</td>
        <td class="col total">Update</td>
        <td class="col total">Delete</td>
        </thead>
        <tbody>
        {% for product in products %}
        <tr class="clickable" data-id="{{ product.product_id }}">
            <td class="col due">{{ product.product_id }}"</td>
            <td class="col due"> <a href="/products/{{ product.product_id }}" class='btn btn-mini btn-primary'>{{ product.product_name  }}</a></td>
            <td class="col ref">{{ product.product_number }}</td>
            <td class="col name"> {{ product.description }}   <br></td>
            <td class="col total">{{ product.price }}</br></td>
            <td class="col status">

             <form action="/product_update_process" method='POST'>
              <input type="radio" name="status" value="active">Active<br>
              <input type="radio" name="status" value="quote_sent">Quote Sent<br>
              <input type="radio" name="status" value="quote_requested">Quote Requested</br>
              <input type="radio" name="status" value="invoice_sent">Invoice Sent<br>
              <input type="radio" name="status" value="completed">Completed<br>
              <input type="radio" name="status" value="Closed">Closed</br>
              <input name='product_id' value='{{product.product_id }}' hidden>
              <input type='submit' value='submit'>Submit</br>
              </form> 

            <td class="col total"><h1> 
              <a href="/products/{{ product.product_id }}" class='btn btn-mini btn-primary'>Update</a></h1></br></td>
            <td class="col total"><h1> <a href="/product_delete/{{product.product_id }}" class='btn btn-mini btn-primary'>Delete</a></h1></br></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

</div>
{% endif %}
 

{% endblock %}