{% extends 'base.html' %}
{% block content %}
  
  <ul class="breadcrumb">
    <li><a href="create_invoice">Invoices</a> <span class="divider">/</span></li>
    <li class="active">New invoice</li>
  </ul>

  <h1>New invoice</h1>

  <div class="workspace-inner">

    <form class="create_invoice_process" method="['POST']" action='/create_invoice_process'>
      <div class="header">New invoice</div>  
      <div class="fields">Name
        <input type="text" name="name" value="job_id" required>Job ID:<br> 
        <input type="text" name="description" required><br>
        {{ invoice.datetime }} 
        <input type="text" name="phone" value='phone' required><br>
        <input type="text" name="location_address1" value="location_address1" required><br>
    <input type="text" name="location_address2" value="location_address2" required><br>
    <input type="text" name="location_city" value="city" required><br>
        <div class="field">
          <button class="button normal" type="submit">Continue</button>
        </div>
      </div>
    </form>

  </div>

  // <script type="text/javascript">
  //   var dueDateField = $('.field-due_date_nice');
  //   var dueDatePicker = null;
  //   var dateFormat = 'D MMM YYYY'
  //   $(document).ready(function(){
  //     var picker1 = new Pikaday({ field: document.getElementById('date_issued_nice'), format: dateFormat });
  //     setup();
  //   });
  //   function setup() {
  //     if ($('#payment_term_id').val() == 6) {
  //       dueDateField.show();
  //       dueDatePicker = new Pikaday({ field: document.getElementById('due_date_nice'), format: dateFormat });
  //     } else {
  //       dueDatePicker = null;
  //       dueDateField.hide();
  //     }
  //     $('#payment_term_id').on('change', function(evt){
  //         var v = $(this).val();
  //         if (v == 6) {
  //           dueDateField.show();
  //           dueDatePicker = new Pikaday({ field: document.getElementById('due_date_nice'), format: dateFormat });
  //         } else {
  //           dueDatePicker = null;
  //           dueDateField.hide();
  //         }
  //     });
  //   }
  // </script>


{% endblock %}