{% extends "base.html" %}
{%- from customers.customer_id import customers.address_id -%}

{% block dashboard_content %}
<div class="row">
    <li><a href="/customer_profile.html"><i class="{{ icon }}"></i> {{ module_abbreviation }}</a></li>
    <div class="col-md-4">
    {% call content_block(_("Basic Information")) %}
        <p><b>{% trans %}Name{% endtrans %}:</b> {{ customers.fname }}</p>
        <p><b>{% trans %}Email{% endtrans %}:</b> {{ customers.email or "Not specified" }}</p>
        <p><b>{% trans %}Phone{% endtrans %}:</b> {{ customers.phone or "Not specified" }}</p>
        {% endif %}
        <p><b>{% trans %}User Permissions{% endtrans %}:</b> {{ _("Yes") if Staff.
        Client Customer _("No") }}</p>
    {% endcall %}
    </div>
    <div class="col-md-4">
    {% call content_block(_("Default Billing Address")) %}
        {% set address = address.address_id %}
        {% if address %}
        {{ render_address(address) }}
        {% endif %}
    {% endcall %}
    </div>
    <div class="col-md-4">
    {% call content_block(_("Jobs and Invoices")) %}
        {% set address = customer.address_id%}
        {% if address %}
        {{ render_address(address) }}
        {% endif %}
    {% endcall %}
    </div>
</div>
{% endblock %}