{% extends 'base.html' %}
{% block content %}

<h1>Login</h1>
    <form action="/login_process" method="POST">

        <div>
            <label>Email:
                <input type="email" name="email" required>
            </label>
        </div>

        <div>
            <label>Password:
                <input type="password" name="password" required>
            </label>
        </div>

        <div>
            <input type="submit" value="Log In">
        </div>

    </form>

    <div id="homepage">
        <form action="/search">
            First Name<br>
            <input type="text" name="fname"><br>
            Last Name<br>
            <input type="text" name="lname">
            <br>
            <br>
            <input type="submit" name="search">
        </form>
    </div>

    <h1>ECM Dashboard/Homepage:</h1>

{% if user in session %}
    {% if 'admin' in session['role_ids'] %}

    <h2>Users</h2>

    <p><a href="templates/all_users.html">USER LIST</a></p>
    
    {% endif %}

    <h2>Products</h2>

    <p><a href="/TBD">PRODUCT LIST</a></p>

    <h2>Invoices</h2>

    <p><a href="/TBD">INVOICES LIST</a></p>

{% endif %}


<script type="text/javascript">
 var loginJson ={};
 var loginOK;

//<!--Build object checkLogin for AJAX request-->

 function checkLogin(evt) {
    loginJson['email'] = $('#email-field').val();
    loginJson['password'] = $('#password-field').val();

//<!--Verify correct email and password (login) of user with AJAX-->

    $.post('login.json', loginJson, function(result){
        $('#display-msg').html(result['login']);
        loginOk = result['login'];
    })
        if (loginOk == 'User not found') {
            evt.preventDefault();
        }
    }
//<!--Event Handler to check/validate correct email and password of user-->
    $('#check-login').on('submit', checkLogin);
</script>
{% endblock %}


