{% extends 'base.html' %}

{% block content %}
  
  <ul class="breadcrumb">
    <li><a href="/new_product_form">Create New Product</a> <span class="divider">/</span></li>
    <li class="active">Inventory Management</li>
  </ul>

  <div class="form-group">
    <div id="doesn't matter">
        <form action="/create_product_process" method="POST">
          <div class="header">Instructions: Fill in all information then select "Add Product".</div>  
          <div class="fields">
            Product Name:<br>
            <input type="text" name="name" required><br>
            Product Number:<br>
            <input type="text" name="product_number" required><br>
            Description:<br>
            <input type="text" name="description"><br> 
            Product Type:
            <input type="text" name="product_type"><br> 
            Material Cost:
            <input type="text" name="price"><br>

            <input class="button normal" type="submit" value="Add Product">
            </div>
        </form>
      </div>
    </form>

  </div>

{% endblock %}