{% extends 'base.html' %}


{% block content %}
<form action="/show_user", methods=["GET", "POST"]>

<h2>User Information:</h2>
<ul>
  {% for user in users %}
    <li>
      <a href="/show_user/ {% if "user_id" in session %}, {{ current_user.fname }}">
        {{ user.email}} ({{user.user_id}})
      </a>
    </li>
  {% endfor %} 
</ul>
</form>

  <ul class="breadcrumb">
    <li>  <a href="/show_user/{{ user.user_id }}">
        {% if "user_id" in session %}, {{ current_user.fname }}
       </a> <span class="divider">/</span></li>
    <li class="active">{{ user.fname() }} - {{ user.lname }}</li>
  </ul>
  
  <div class="show-user-information">

    <div class="header">User Details</div>
      <div class="fields">

        First Name: {{ fname }} 
        Last Name: {{ lname }} 
        Email Address: {{ email }} 
        User Since: {{ created_date }}
        Address Line 1: {{ address1 }}
        Address Line 2: {{ address2 }}
        City: {{ city }}
        State: {{ state }}
        Zipcode: {{ zipcode }}

        Detailed User Information for Administration Only:
        <!--create this in model to be imported here 5/17/17-->
        <!-- Employee/Staff: {{ is_Staff }} -->
        Job Title: {{ job_title }}
        Department: {{ department }}
        Birthday: {{ birthdate }}

        <!-- User Status: {{ active }} -->
        User Since: {{ created_at }}
        <!-- User Last Modified: {{ datetime.ts }} -->

        RoleID/Permissions: {{ Role_ID }}

        <div class="field">
          <button class="btn btn-primary" type="submit">Update User</button>
          <!-- Imay need to tie this to a separate delete_form -->
          <a class="btn btn-danger pull-right" type="button" href="{{ url_for('.delete', id=user.id) }}">Delete</a>
        </div>

      </div>
    </div>
    {% block content %}
  
      </tr>
  </div>  
