{% extends 'base.html' %}

{% block content %}
  {% if current_user %}
  <ul class="breadcrumb">
    <li><a href="/update_user">Update User</a> <span class="divider">/</span></li>
    <li class="active">User Information</li>
  </ul>

  <div class="form-group">
    <div id="update_user">
        <form action="/update_user" method="POST">
          <div class="header">Instructions: Update all information then select "Update User" button to submit.</div>  
          <div class="fields">
            First Name<br>
            <input type="text" name="fname" {{ % fname % }} required><br>
            Last Name<br>
            <input type="text" name="lname"  {{ % lname % }} required><br>
            Job Title<br>
            <input type="text" name="job_title" {{ % job_title % }><br> 
            Department
            <input type="text" name="department" {{ % department % }><br> 
            Birthday<br>
            <input type="text" name="birthdate" {{ % dob % }><br>  
            Phone Number<br>
            <input type="text" name="phone_number" {{ % phone % }><br> 
            Secondary Phone Number<br>
            <input type="text" name="phone_number_2" {{ % phone2 % }><br>  
            Company<br>
            <input type="text" name="company" {{ % company % }><br>  
            Address<br>
            <input type="text" name="address1" {{ % address1 % }><br>  
            Apt/Ste/Lot/Rm Number<br>
            <input type="text" name="address2" {{ % address2 % }><br>  
            City<br>
            <input type="text" name="city" {{ % city % }><br>  
            State<br>
            <input type="text" name="state" {{ % state % }><br>  
            Zip Code<br>
            <input type="text" name="zipcode" {{ % zip_code % }><br>  
            
            {{ % status % }}
            {{ % created_at % }} 
            <!--TS with datetime now function to show date if user has been modified-->
            {{ % modified % }}
            </div>
        </form>

        <div class="field">
          <button class="button normal" type="submit">Update User</button>
        </div>
      </div>
    </form>

  </div>

{% endblock %}